* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #b8dfa1, #b59dbe);
}

.card {
    background: rgba(255, 255, 255, 0.425);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: auto;
    max-width: 100%;
    margin: 20px;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    border: none;
    background: none;
}

input.amountInput, select.fromCurrSelect, select.toCurrSelect, button.switchCurrency, button.convertOpt {
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

button.convertOpt {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #7fd882;
    color: white; 
    padding: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3ac041;
}

.switchCurrency img {
    height: 30px;
    width: 30px;
}

