* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #b8dfa1, #b59dbe);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 30px;
    text-decoration: none;
	text-align: left;
	text-transform: uppercase;
	line-height: 1;
	color: transparent;
	-webkit-text-stroke: 1.5px #3ac041;
	text-shadow: 0 0 0 #3ac041;
	transition: all 250ms;
}

h3 {
    font-size: 1.2rem;
    margin-left: 30px;
    text-decoration: none;
	text-align: left;
	text-transform: uppercase;
	line-height: 1;
	color: black;
	transition: all 250ms;
}

h1:hover {
    text-shadow: 4px 4px 0 #000000;
	transform: translate(-2px, -2px)
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 90%;
    max-width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input.amountInput, select.fromCurrSelect, select.toCurrSelect {
    height: 45px;
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: border 0.3s;
}

input.amountInput:focus, select.fromCurrSelect:focus, select.toCurrSelect:focus {
    border-color: #7fd882;
    outline: none;
}

button.switchCurrency {
    background: transparent;
    border: none;
    cursor: pointer;
}

button.convertOpt {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #7fd882;
    color: white; 
    padding: 12px 20px;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

button.convertOpt:hover {
    background-color: #3ac041;
    transform: scale(1.05);
}

.switchCurrency img {
    height: 24px;
    width: 24px;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(180deg);
}

p {
    padding: 10px;
    font-size: 1.5rem; 
    width: 100%;
    text-align: center;
    color: #3ac041;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.result, .alert {
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    font-weight: 800;
}

.result.show, .alert.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-left: 0;
    }

    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}